
.article-list-container {
  width: 100%;
  padding: 5px;
}
.component-article:first-child {
  margin-top: 0;
}
.component-article {
  margin-top: 20px;
}
.article-list-container .pagination {
  margin-top: 20px;
  float: right;
}
.article-list-container .pagination a {
  color: rgb(13, 71, 161);
  background-color: white;
  margin-top: 20px;
  padding: 8px 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgb(220, 220, 220);
}
.article-list-container .pagination a:hover {
  color: white;
  background-color: rgb(13, 71, 161);
  margin-top: 20px;
  padding: 8px 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgb(220, 220, 220);
}