.footer-container {
  background-color: rgb(25, 118, 210);
  padding: 1rem 0.5rem;
}

.footer-container .footer-content {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 0.8em;
}

.footer-container a {
  color: white;
  text-decoration: none;
}