@import url("~/assets/css/common.css");

.article-page {
  min-height: 100%;
}

.article-page .content {
  margin: 0 auto;
  padding: 4rem 0;

  display: flex;
  flex: row nowrap;
}

/* 中屏 横屏 */
@media screen and (min-width:960px) and (orientation : landscape) {
  .article-page .content {
    width: 900px;
  }
  .article-page .content .article {
    width: 590px;
  }
  .article-page .content .side {
    width: 290px;
    margin-left: 20px;
  }
}
/* 宽屏 横屏 */
@media screen and (min-width:1200px) and (orientation : landscape) {
  .article-page .content {
    width: 1000px;
  }
  .article-page .content .article {
    width: 650px;
  }
  .article-page .content .side {
    width: 330px;
    margin-left: 20px;
  }
}
/* 超宽屏 横屏 */
@media screen and (min-width:1600px) and (orientation : landscape) {
  .article-page .content {
    width: 1400px;
  }
  .article-page .content .article {
    width: 920px;
  }
  .article-page .content .side {
    width: 460px;
    margin-left: 20px;
  }
}
/* 窄屏 */
/* 竖屏 */
@media screen and (orientation : portrait), screen and (max-width:959px) and (orientation : landscape) {
  .article-page .content {
    width: 100%;
    padding: 4rem 0.5rem;
  }
  .article-page .content .article {
    width: 100%;
  }
  .article-page .content .side {
    display: none;
  }
}