@import url("~/assets/css/common.css");

.pagination-page {
  min-height: 100%;
}

.pagination-page .content {
  margin: 0 auto;
  padding: 4rem 0;

  display: flex;
  flex: row nowrap;
}

.display-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-direction-column{
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.flex-1{
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;    
}

/* 中屏 横屏 */
@media screen and (min-width:960px) and (orientation : landscape) {
  .pagination-page .content {
    width: 900px;
  }
  .pagination-page .content .article-list {
    width: 590px;
  }
  .pagination-page .content .side {
    width: 290px;
    margin-left: 20px;
  }
}
/* 宽屏 横屏 */
@media screen and (min-width:1200px) and (orientation : landscape) {
  .pagination-page .content {
    width: 1000px;
  }
  .pagination-page .content .article-list {
    width: 650px;
  }
  .pagination-page .content .side {
    width: 330px;
    margin-left: 20px;
  }
}
/* 超宽屏 横屏 */
@media screen and (min-width:1600px) and (orientation : landscape) {
  .pagination-page .content {
    width: 1400px;
  }
  .pagination-page .content .article-list {
    width: 920px;
  }
  .pagination-page .content .side {
    width: 460px;
    margin-left: 20px;
  }
}
/* 窄屏 */
/* 竖屏 */
@media screen and (orientation : portrait), screen and (max-width:959px) and (orientation : landscape) {
  .pagination-page .content {
    width: 100%;
    padding: 4rem 0.5rem;
  }
  .pagination-page .content .article-list {
    width: 100%;
  }
  .pagination-page .content .side {
    display: none;
  }
}